*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  list-style-position: inside;
}

/* ===== Utility Classes ===== */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.grid {
  display: grid;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
/* .mb-auto {
  margin-bottom: auto;
} */
.block {
  display: block;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.font-bold {
  font-weight: 700;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #2e475d;
}
.bg-brand {
  background-color: #ff5c35; /* brand color */
}
.text-brand {
  color: #ff5c35; /* brand color */
}
.container {
  width: 90%;
  margin: 0 auto;
}
.border {
  border: 1px solid rgb(226, 226, 226);
}
.border-brand {
  border-color: #ff5c35;
}
.hover-underline:hover {
  text-decoration: underline;
}
